@media (min-width: 1200px) and (max-width: 1299px) {
    header {
        padding: 0.98;
    }
    .search {
        font-size: 0.98;
        padding: 0.98;
    }
    .movie-info {
        letter-spacing: 0.98px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    
}

@media (min-width: 768px) and (max-width:991px) {
    
}

@media (max-width:767px) {
    header {
        padding: 0.1;
        justify-content: center;
    } 
    .search {
        border: 2px solid var(--secondary-color);
        border-radius: 90px;
        font-size: 0.7rem;
        padding: 0.7rem;
    }
    input {
        width: 205px;
    }
    .movie {
        width: 210px;
        height: 370px;
        margin: 0.3rem;
    }
    .movie-info{
        font-size: 10px;
        letter-spacing: 0.5px;
        padding: 0.4rem 0.9rem 0.9rem;
    }
    .movie-info span {
        padding: 0.2rem 0.4rem;
        border-radius: 4px;
    }
    .overview {
        font-size: 10px;
    }
}

@media (max-width:480px) {
    header {
        padding: 0.1;
        justify-content: center;
    } 
    .search {
        border: 2px solid var(--secondary-color);
        border-radius: 90px;
        font-size: 0.7rem;
        padding: 0.7rem;
    }
    input {
        width: 205px;
    }
    .movie {
        width: 100px;
    }
    .movie-info {
        letter-spacing: 0.5px;
    }
}

@media (max-width:320px) {
    
}